  <div class="footer">
    <div class="container grid">
      <div class="col-12">
        &copy; Michaella Zena
        <a href="#">Aviso legal</a>
        <a href="/contacto/">Contacto</a>
      </div>
    </div>
  </div>

  </body>
</html>